.nav-container {
  background: #1e1e30;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  min-width: 360px;
  width: 100%;
  height: 80px;
  z-index: 1000;
  padding: 0 30px;
}
.nav-logo {
  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #f8fafc;
}

span {
  color: #007bff;
}
.nav-mobile-bar {
  display: none;
  color: #fff;
  font-size: 24px;
}
.nav-items-container {
  min-width: 10%;
  width: 200px;
  display: flex;
  justify-content: space-evenly;
  color: #fff;
}
.nav-items-container h1 {
  font-size: 16px;
  font-family: 'Roboto';
  line-height: 24px;
  font-weight: 500;
}
.nav-items-mobile {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  background: #1e1e30;
  padding: 0 20px;
  height: 80px;
  transition: all 1s ease-in;
}
.nav-items-mobile div {
  display: flex;
}
.nav-items-mobile div h1 {
  margin-right: 10px;
  font-size: 16px;
  font-family: 'Roboto';
  line-height: 24px;
  font-weight: 500;
  color: #fff;
}
.nav-items-mobile svg {
  color: #fff;
  font-size: 20px;
}
@media screen and (max-width: 460px) {
  .nav-items-container {
    display: none;
  }
  .nav-mobile-bar {
    display: block;
  }
}
.link-item {
  text-decoration: none;
}
.link-name {
  color: #f8fafc;
}
