.bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid red; */
  /* position: relative;
  top: 140px; */
  margin-top: 80px;
}
.search-container {
  background-color: #2f2f43;
  border-radius: 8px;
  margin: 32px 0px;
  display: flex;
  flex-direction: flex-start;
  align-items: center;
  width: 57.22%;
  height: 72px;
}
@media screen and (max-width: 600px) {
  .search-container {
    width: 90%;
    top: 120px;
  }
}
.search-icon {
  color: #94a3b8;
  font-size: 24px;
  margin: 0 32px;
}
.input-search {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 90%;
  padding-right: 20px;
  color: #94a3b8;
}
.unordered-list {
  /* top: 85px; */
  position: relative;
  list-style-type: none;
  width: 57.22%;
  margin-bottom: 64px;
  /* border: 1px solid yellow; */
}
.country-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  flex-wrap: wrap;
}
.states-container {
  align-items: center;
  min-width: 120px;
  margin: 0 12px;
}
.stats-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
