.footer-heading {
  text-align: center;
}
.footer-paragraph {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 24px;
  color: #94a3b8;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}
.icons-container {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 30px;
}
.icon {
  /* border: 2px solid #cbd5e1; */
  color: #cbd5e1;
  font-size: 35px;
}
